*{
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
    /* color: white; */
}

/* NAVBAR */
header {
    background-image: linear-gradient(to right,white , #334E58 );
}

nav {
    display: flex;
    width: 100%;
    flex-direction: row;
}

h1.title {
    font-size: 75px;
    margin-left: 10%;
    color: rgb(255,255,244);
    text-shadow: 1px 1px #334E58;
    font-style: italic;
    margin-top: 4%;
    letter-spacing: 10px;
    font-family: 'Fredoka One', cursive;
}

img.logo {
    width: 10%;
    /* height: auto; */
    max-height: 150px;
    margin: 1%;
}

.navbar {
    display: flex;
    list-style-type: none;
    align-self: flex-end;
    justify-content: flex-start;
    margin-left: 20%;
}

.navbar li {
    margin: 10%;
    align-self: flex-end;
    border: solid 1px rgb(255,255,244);
    padding: 5%;
    border-radius: 10%;
    color: midnightblue;
    transition: 1s;
}

.navbar li:hover {
    border:solid 1px lightblue;
    background-color: #334E58;
    color: white;
    padding: 5.5%;
    transition: 1s;
}

a {
    color: white;
}

body{
    background-image: url("/src/img/mountains.jpeg");
    background-attachment: fixed;
}
    
.pageName {
    display: flex;
    align-items: flex-end;
}


/* FOOTER  */
footer {
    display: flex;
    background-image: linear-gradient(to right,white , #334E58 );
    align-items:center;
    flex-direction: column;
    /* border: 1px dotted green; */

}
div.mailList {
    border:none;
    width: 35%;
    display: flex;
    justify-content: center;
    background-color: midnightblue;
    padding: 1.5%;
    box-shadow: 1px 3px grey;
    /* border-radius: 5%; */
}
div.mailTitle {
    margin:2% 2% 1% 2%;
    color: rgb(255,255,244);
}
button.Email-btn {
    padding: 1.5%;
    margin: 2%;
    border-radius: 5%;
    transition: ease .3s;
}
button.Email-btn:hover {
    margin:4%;
    color:white;
    background-color: midnightblue;
    border:2px lightblue solid;
    transition: ease .3s;

}
input.eEntry {
    height: 50%;
    align-self: center;
    width: 30%;
}
.fooBar {
    margin: 1.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.fab {
    margin:0 .5%;
    
}
h1.sLinks{
    margin-top: 2.5%;
    color: rgb(255,255,244);
}
div.fooBar a {
     margin: 2%;
}
.fab:hover {
    opacity: 0.5;
}
.fa-facebook-square {
    color: #3b5998;
    
}
.fa-instagram {
    color: #3f729b;
}
.fa-youtube {
    color: red;
}
.fa-twitter {
    color: #1da1f2;
}


/* About Page CSS */
.about-img-dwayne {
    width: 75%; 
    margin: 5% 0 0 0;
    border-radius: 5%;
}

.top-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin: 3.5%;
}

.name-in-top-container {
    line-height: 50px;
}

.name-in-top-container ul li {
    list-style-type: none;
    padding-left: 5%;
    line-height: 25px;
}

#move-text-closer {
    line-height: 20px;
}

figure {
    height: 75%;
}

.middle-container {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.spouse-container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: rgba(143, 143, 143, 0.5);
    border: 1px solid black;
}

.spouse-container img {
    width: 50%;
    padding: 5%;
}

.spouse-name {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.bottom-container {
    width: 100%;
    text-shadow: 2px 2px 4px #000000;
}

.family-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.panel1 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin: 5%;
    color: white;
    background: rgba(143, 143, 143, 0.5);
    transition: ease 0.3s;
    border-radius: 2%;
}

.panel1:hover {
    padding: 0.5%;
    transition: ease 0.3s;
    background: rgba(143, 143, 143, 5);
}

.small-img {
    width: 70%;
    padding: 5%;
}